#python
.idea/
.ipynb_checkpoints/
_pycache_/
*.pyc

# distribution/packaging
*.egg-info/

# matlab
*.m~
*.asv
*.mex*

# vscode
.vscode/*

#folders
results/*
data/*
docs/metadata-summaries/archive/*
/docs/notes/
archive/*
*.DS_Store
*.png
